* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  --bg-color: linear-gradient(rgb(6, 6, 30), rgb(14, 14, 60) 70%);
  /* 
  night : rgb(6, 6, 30), rgb(14, 14, 60)
  */
  background-image: var(--bg-color);
  height: 100vh;
  color: white;
}

.flex-container {
  display: flex;
}

.grid-container {
  display: grid;
}

#page-container {
  flex-direction: column;
  align-items: center;
}

#header {
  justify-content: center;
  align-items: center;
  margin-bottom: 75px;
}

#city-search-input {
  background-color: rgba(0, 0, 0, 0.2);
  height: 50px;
  width: max(300px, 35vw);
  border: none;
  outline: none;
  border-bottom: 2px lightgray solid;
  padding: 0;
  padding-right: 55px;
  padding-left: 10px;
  color: white;
  font-size: 2em;
  text-align: center;
  margin-top: 5px;
}

#city-search-container {
  position: relative;
}

#search-icon {
  height: 40px;
  position: absolute;
  right: 6px;
  top: 8px;
}

#weather-grid {
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 350px 350px;
  justify-content: center;
  width: 90vw;
  gap: 15px;
}

.weather-card-container {
  background-color: rgb(6, 6, 30);
  border: white solid 4px;
  border-radius: 15px;
  box-shadow: -5px 8px 8px black;
  flex-direction: column;
  padding: 5px;
}

.card-day {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 40px;
}

.current-temp-container {
  flex-direction: column;
  text-align: center;
}

.temp-data-container {
  align-items: center;
  flex: 1;
  margin-bottom: 10px;
}

.conditions-icon {
  width: 80px;
  margin-right: 5px;
}

.conditions-text {
  font-size: 1em;
}

.current-temp {
  font-size: 3em;
}

.hi-low-temp-container {
  margin-top: auto;
  justify-content: space-around;
  margin-bottom: 20px;
}

.hi-temp-container, .low-temp-container {
  flex-direction: column;
}

.hi-temp-value, .low-temp-value {
  font-size: 2em;
}

.hi-temp-text, .low-temp-text {
  font-size: 1.5em;
}