* {
  margin: 0;
  box-sizing: border-box;
}

body{
  --bg-color: linear-gradient(rgb(6, 6, 30), rgb(14, 14, 60) 70%);
  /* 
  night : rgb(6, 6, 30), rgb(14, 14, 60)
  */
  background-image: var(--bg-color);
  height: 100vh;
}

.flex-container {
  display: flex;
}

#city-search-container {
  justify-content: center;
  align-items: center;
}
