* {
  margin: 0;
  box-sizing: border-box;
}

body{
  --bg-color: linear-gradient(rgb(6, 6, 30), rgb(14, 14, 60) 70%);
  /* 
  night : rgb(6, 6, 30), rgb(14, 14, 60)
  */
  background-image: var(--bg-color);
  height: 100vh;
}

.flex-container {
  display: flex;
}

#header {
  justify-content: center;
  align-items: center;
}

#city-search-input {
  background-color: rgba(0, 0, 0, 0.2);
  height: 50px;
  width: max(300px, 35vw);
  border: none;
  outline: none;
  border-bottom: 2px lightgray solid;
  padding: 0;
  padding-right: 55px;
  padding-left: 10px;
  color: white;
  font-size: 2em;
  text-align: center;
  margin-top: 5px;
}

#city-search-container{
  position: relative;
}

#search-icon {
  height: 40px;
  position: absolute;
  right: 6px;
  top: 8px;
}